body {
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255);
  background-color: #002400;
  font-family: Alagard;
}

#app {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

