/* На будущее
.overlay {
    position: 'absolute';
    top: 0;
    left: 0;
    width: '100%';
    height: '100%';
    pointerEvents: 'none';
    display: 'flex';
    justifyContent: 'center';
    paddingTop: '80px';
}

.title {
    fontFamily: 'sans-serif';
    fontSize: '40px';
    color: '#faf8f8';
    WebkitTextStroke: '4px #000000';
    margin: 0;
}
*/